* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #fff;
}

/*
===============
Header
===============
*/

.header {
    width: 980px;
    margin: 0px auto;
}


.header__heading {
    color: #000;
    font-family: Vogue;
    font-size: 58px;
    text-align: center;
    padding: 13px;
    margin-top: 7px;
}


/*
===============
Buttons
===============
*/

.btn-container {
    width: 1280px;
    margin: 28px auto;

}

.btn-container--flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    background-color: #a7f1a7;
    color: #282828;
    border-color: transparent;
    padding: 7px 7px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 7px #666;
    font-family: MonospaceTypewriter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: 118px;
}

.btn:active {
    box-shadow: 0 3px #333;
    transform: translateY(4px);
}


/*
===============
Table
===============
*/

.table {
    /* border-collapse: collapse; */
    width: 100%;
}

.table-container {
    width: 1280px;
    margin: 78px auto 48px auto;
}

.table__heading {
    color:#000;
    background-color: #eaecf0;
    width: 182.86px;
    text-align: left;
    font-size: 18px;
    padding: 13px;
    border: 2px solid #d2d2d2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.table__data {
    color: #000;
    padding: 13px;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #d2d2d2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}